@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  font-family: "Raleway", sans-serif;
}

@theme {
  --color-pryClr: #1A6020;
  --color-secClr: #A9890B;
  --color-trdClr: #D9D9D9;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.overflow-x-auto {
  scrollbar-width: none;
}

/* Ensure scrolling still works */
.overflow-x-auto {
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}


.exclude {
  font-family: "Montserrat", sans-serif;
}